{% capture clean_title %}{% for breadcrumb in breadcrumbs %}{{ breadcrumb.name | downcase }}_{% endfor %}{{ title | downcase }}{% endcapture %}
{% capture pretitle %}{% for breadcrumb in breadcrumbs %}{{ breadcrumb.name }} : {% endfor %}{% endcapture %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ pretitle }}{{ title }}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
	<!--<link rel="stylesheet" type="text/css" href="public/css/main.css">--> <!-- STFU -->
	<link rel="stylesheet" type="text/css" href="/css/all.min.css">
	<link href="https://plus.google.com/104823089512012142300/" rel="publisher">
</head>

<body>
	<header>
		<nav id="mainnav" class="clearfix">
			<ul id="navbar">
				<li class="{% if clean_title == 'rubus' %}current{% endif %}"><a href="/">Rubus</a></li>
				<!--<li class="{% if clean_title == 'about_rubus' %}current{% endif %}"><a href="/about/">About</a></li>-->
				<li class="{% if clean_title == 'contact_rubus' %}current{% endif %}"><a href="/contact/">Contact</a></li>
			</ul>
			<ul id="social">
				<li><a href="https://plus.google.com/104823089512012142300/?prsrc=3"><img src="/images/16/gplus.png" width="16" height="16" alt="Google+"></a></li>
				<li><a href="#"><img src="/images/16/twitter.png" width="16" height="16" alt="Twitter"></a></li>
			</ul>
		</nav>
	</header>

	<div id="wrap" class="clearfix">
		<article id="content">
{{ content | markdown }}
		</article>
		<div id="right">
			<h1 id="twitter_header"></h1>
			<ul id="twitter">
			</ul>
		</div>
	</div>

	<footer>
		<p>Copyright &copy; {{ "%Y" | date }} Nick Markwell.</p>
	</footer>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/legacyfix.js"></script>
	<script type="text/javascript" src="/js/mail.js"></script>
	<script type="text/javascript" src="/js/rot.js"></script>
	<script type="text/javascript" src="/js/jquery.sortElements.js"></script>
	<script type="text/javascript" src="/js/jquery.tweets.0.3.js"></script>
	<script type="text/javascript" src="/js/twitter.js"></script>
	<script type="text/javascript" src="/js/github.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
